[user]
	name = bwrob
	email = bartosz.marcin.wroblewski@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential "https://github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

[core]
    editor = micro
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    compression = 9

[init]
    defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
    rebase = true

[fetch]
    prune = true

[color]
    ui = auto

[diff]
    algorithm = histogram
    colorMoved = plain

[alias]
    st = status
    co = checkout
    br = branch
    aa = add --all
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
